body {
    color: #FFF;
    background-color: #000;
}
div#title {
    margin: 10vh auto;
    width: 80%;
    padding: 5vh;
    padding-right: 0;
    padding-bottom: 2.25vh;
    background-color: #333;
}
h1 {
    color: #FFF;
}
div#name h1 {
    font-family: 'Oleo Script', 'Brush Script MT', cursive;
    font-size: 5em;
    letter-spacing: 0.025em;
}
h1#last {
    margin-bottom: 5vh;
    margin-left: 5vw;
}

h1#photography {
    float: right;
    font-size: 3em;
    letter-spacing: 0.3em;
    margin-right: 4vw;
    padding: 0 4vw 3vh 4vw;
    background-color: #333;
}