
/* Header navigation bar */
header {
    display: block;
}
nav.navbar {
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 10vh 0;
    background-color: #000000;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
ul#navbar li {
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 1em;
}
ul#navbar li a {
    color: #FFF;
    text-align: center;
    padding: 5% 0;
    text-decoration: none;
    opacity: 100%;
    font-weight: normal;
    transition: font-weight 0.2s;
}
ul#navbar li a.active {
    font-size: 200%;
}
ul#navbar li a:hover {
    opacity: 80%;
    font-weight: bold;
}