* {
    font-family: 'Josefin Sans', Montserrat, sans-serif;
    color: #333;
}
/* Header navigation bar */
ul#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    list-style-type: none;
    background-color: #000;
}
ul#navbar li {
    float: left;
}
ul#navbar li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
ul#navbar li a.active {
    font-size: 1.5em;
}
ul#navbar li a:hover {
    opacity: 80%;
    /* Add JS to make the text bigger but the link box stay the same size */
}