#contact {
    width: 80%;
    margin: 10% auto;
}
#contact #intro p {
    font-size: 2em;
    background-color: #333;
    padding: 2%;
    line-height: 1.25em;
}

/* FORM STYLING */
form {
    width: 80%;
    margin: 0 auto 5% auto;
}
form fieldset legend {

}
form fieldset label {

}
form fieldset input {

}
