div.footer {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 5vh;
    padding-bottom: 2vh;
}
.footer p {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    color: #FFF;
}
.footer a {
    text-decoration: none;
    color: #AAA;
}