body {
    color: #FFF;
    background-color: #000;
}
div#title {
    margin: 10vh auto;
    width: 80%;
    padding: 5vh;
    padding-bottom: 2.25vh;
    margin-bottom: 10vw;
    background-color: #333;
}
h1 {
    color: #FFF;
}
div#name h1 {
    font-family: 'Oleo Script', 'Brush Script MT', cursive;
    font-size: 5em;
    letter-spacing: 0.025em;
}
div#name h1#first {
    margin-left: 2vw;
}
div#name h1#last {
    margin-bottom: 5vh;
    margin-left: 5vw;
}

#subtitle {
    float: right;
    font-size: 2em;
    letter-spacing: 0.3em;
    padding: 0 3vw 1vw 3vw;
    margin-right: 2vw;
    background-color: #333;
}