#published_work {
    margin: 0 auto;
    padding: 5% 10%;
}
.publish_site h1 {
    margin: 0 0 3% 0;
    font-size: 3em;
}
.publish_site a {
    color: #FFF;
    opacity: 100%;
}
.publish_site a:hover {
    opacity: 80%;
}

.work p.caption {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    opacity: 80%;
    margin: 2%;
}

.work#fireflies {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.work#fireflies img {
    height: 80vh;
    width: auto;
    object-fit: contain;
}