section.carousel_container {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100%;
    gap: 5vw;
}
.carousel.sliding-transition {
    transition: transform 0.5s ease-in-out;
}

.arrow_container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    transform: translateY(-50%);
}