#carousel_container {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 0 3vw 5vw 3vw;
}
img.left, img.right {
    width: 20%;
}
img.middle {
    width: 50%;
}
.arrows {
    width: 2.5vw;
    height: auto;
}